!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store
.idea
.nyc_output
.pnp.*
.vs
.yarn/
/.idea/
coverage
node_modules
reports
xcshareddata
xcuserdata
.vscode
android/.gradle/
*.log